@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  width: device-width;
  background-color: #ffffff;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@media screen and (max-width: 768px) {
  h1,
  h2,
  h3 {
    width: 100%;
  }
}
html {
  scroll-behavior: smooth;
}
/* h2 {
  font-size: 1.9em;
  color: #333;
  margin-left: 120px;
  margin-bottom: 20px;
}
h1 {
  font-size: 4.5em;
  color: #333;
  text-align: left;
  margin-top: 70px;
  margin-left: 120px;
}

h3 {
  font-size: 1.2em;
  color: #333;
  text-align: left;
  margin-left: 120px;
  margin-right: 40px;
} */

button {
  font-size: 1em;
  color: #333333;
  text-align: center;
  margin-left: 0px;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 30px;
  background-color: #00000045;
  color: white;
  padding: 14px 20px;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background-color: #f16b64;
}
